<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Places Searchbox</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css"></link>
  </head>
  <body>
    <h1 id="title">NYC TrackMap</h1>
    <div id="map"></div>
    <div id="pano"></div>

    <form class="coordinates save_button" action="/favorites" method="post">
      <input id="lat" name="favorite[lat]">Latitude</input>
      <input id="lng" name="favorite[lng]">Longitude</input>
      <input type="submit" value="Save Location!">
    </form>

    <script>
      function initAutocomplete() {
        var location = {lat: <%= lat %>, lng: <%= lng %>};
        <% if (showFavorite) { %>
          location = {lat: <%= showFavorite[showFavorite.length - 1].lat %>, lng: <%= showFavorite[showFavorite.length - 1].lng %>}
        <% } else if (!showFavorite) { %>
          <% console.log('false is rendering') %>
        <% } %>

        var myOptions = {
          center: location,
          zoom: 15,
          mapTypeId: 'roadmap'
        }

        var map = new google.maps.Map(document.getElementById('map'), myOptions);

        var panorama = new google.maps.StreetViewPanorama(
            document.getElementById('pano'), {
              position: location,
              pov: {
                heading: 34,
                pitch: 10
              }
            });
        map.setStreetView(panorama);

        // CREDIT TO Taka for helping me place marker and detect marker position
        let marker = new google.maps.Marker({
          position: location,
          map: map,
          // this makes the marker a draggable item
          draggable: true,
          title: "Drag me!",
          // label: ,
        });

        // adding event listener for the drag release readjutment of values
        google.maps.event.addListener(marker, 'dragend', function (event) {
          // changing values inside of form

          const $lat = document.getElementById('lat');
          const $lng = document.getElementById('lng');

          $lat.value = this.getPosition().lat();
          $lng.value = this.getPosition().lng();
          console.log('got new values for lat and long');
        });
      }
    </script>
    <div class="favorites_parent">
      <h2>Your Favorites</h2>
      <div class="display_favorites">
        <% for(var i = 0; i < favorites.length; i++) { %>
          <div class="location">
            <h3>Your latitude</h3><%= favorites[i].lat %>
            <h3>Your longitude</h3><%= favorites[i].lng %>

            <form class="save_button" action="/showfavorite" method="post">
              <input type="hidden" name="favorite[lat]" value="<%= favorites[i].lat %>">
              <input type="hidden" name="favorite[lng]" value="<%= favorites[i].lng %>">
              <input id="location_submit" type="submit" value="Visit Location!">
            </form>

            <!-- Allow user to delete Favorite location -->
            <form class="delete_button" action="/favorites/<%= favorites[i]._id %>?_method=DELETE" method="post">
              <input id="location_delete" type="submit" value="Delete Location">
            </form>
          </div>
        <% } %>
      </div>
    </div>

    <form class="logout" action="/auth?_method=DELETE" method="post">
      <input type="submit" value="Logout">
    </form>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrQMUvETcXs72B8cBpl3H3GjJ1p4LOtBk&libraries=places&callback=initAutocomplete" async defer>
    </script>
  </body>
</html>
